# Generated Outputs
.cache
.data
.nitro
.nuxt
.output

# Compiled Outputs
*.config.js.timestamp*
*.config.ts.timestamp*
*.tsbuildinfo
dist

# Environment
.env
.env.*
!.env.d.ts
!.env.example

# Dependencies
node_modules/
package.json.*
!package.json.hbs

# Testing
coverage/
tmp/
.coverage*

# Logs
logs
*.log

# IDE - VSCode
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# System Files
.DS_Store
*.pem

# Workspace Files
.turbo
.todo