@import "@veehance/core";
@import "#build/ui.css";

@source "./components/**/*.{js,ts,tsx}";

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--ui-bg);
    color: var(--ui-text);
    touch-action: manipulation;
  }
}
